<div class="center hero-unit">
  <h1>Welcome to the Premier Workout Tracker</h1>

  <h2>
    Lift
    <small>Track and analyze your fitness progress</small>
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>